form{
    width: 100%;
    display: table-cell; 
    padding: 30px;
    line-height: 30px;
    height: 100%;
}
input{
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #999999;
    width: 100%;
}
textarea{
    width:100%;
    padding:0;
    height:200px;
    border: 1px solid #999999;
}
::placeholder{
    color:#b3b3b3;
}


.imgcontainer{
    /* display: table; */
    background-color: red;
    height:100%;
    width: 100%;
}

.img1, .img2, .img3, .img4 {
    float: left;
    height: 200px;
    width: 300px;
    margin: 10px;
}

.img-text {
    background-color: black;
    color: white;
    text-align: center;
    transform: translateY(-45px);
    padding-top: 5px;
    padding-bottom: 5px;
}

button{
        background-color: #4aaaa5;
        border: none;
        color: white;
        padding:10px;
        text-align: center;
        text-decoration: none;
        font-size: 20px;
        margin: 4px 2px;
}
/* ssssadsdasdasdasdasd  testing  beloww  asdasdasdasdasdasdasd */







